@font-face {
    font-family: "myiconfont";
    src: url("../fonts/icons/myiconfont.eot");
    src: url("../fonts/icons/myiconfont.eot?#iefix") format("eot"), url("../fonts/icons/myiconfont.woff") format("woff"), url("../fonts/icons/myiconfont.ttf") format("truetype"), url("../fonts/icons/myiconfont.svg#myiconfont") format("svg");
}

@font-face {
    font-family: 'Muller Hairline';
  src: local("Muller Hairline Italic"), local("MullerHairlineItalic");
  src: url("../fonts/Muller/MullerHairlineItalic/MullerHairlineItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerHairlineItalic/MullerHairlineItalic.woff") format("woff"), url("../fonts/Muller/MullerHairlineItalic/MullerHairlineItalic.ttf") format("truetype"), url("../fonts/Muller/MullerHairlineItalic/MullerHairlineItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
    font-family: 'Muller Hairline';
  src: local("Muller Hairline"), local("MullerHairline");
  src: url("../fonts/Muller/MullerHairline/MullerHairline.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerHairline/MullerHairline.woff") format("woff"), url("../fonts/Muller/MullerHairline/MullerHairline.ttf") format("truetype"), url("../fonts/Muller/MullerHairline/MullerHairline.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Thin Italic"), local("MullerThinItalic");
  src: url("../fonts/Muller/MullerThinItalic/MullerThinItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerThinItalic/MullerThinItalic.woff") format("woff"), url("../fonts/Muller/MullerThinItalic/MullerThinItalic.ttf") format("truetype"), url("../fonts/Muller/MullerThinItalic/MullerThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Thin"), local("MullerThin");
  src: url("../fonts/Muller/MullerThin/MullerThin.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerThin/MullerThin.woff") format("woff"), url("../fonts/Muller/MullerThin/MullerThin.ttf") format("truetype"), url("../fonts/Muller/MullerThin/MullerThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller UltraLight"), local("MullerUltraLight");
  src: url("../fonts/Muller/MullerUltraLight/MullerUltraLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerUltraLight/MullerUltraLight.woff") format("woff"), url("../fonts/Muller/MullerUltraLight/MullerUltraLight.ttf") format("truetype"), url("../fonts/Muller/MullerUltraLight/MullerUltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller UltraLight Italic"), local("MullerUltraLightItalic");
  src: url("../fonts/Muller/MullerUltraLightItalic/MullerUltraLightItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerUltraLightItalic/MullerUltraLightItalic.woff") format("woff"), url("../fonts/Muller/MullerUltraLightItalic/MullerUltraLightItalic.ttf") format("truetype"), url("../fonts/Muller/MullerUltraLightItalic/MullerUltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Light"), local("MullerLight");
  src: url("../fonts/Muller/MullerLight/MullerLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerLight/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight/MullerLight.ttf") format("truetype"), url("../fonts/Muller/MullerLight/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Light Italic"), local("MullerLightItalic");
  src: url("../fonts/Muller/MullerLightItalic/MullerLightItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerLightItalic/MullerLightItalic.woff") format("woff"), url("../fonts/Muller/MullerLightItalic/MullerLightItalic.ttf") format("truetype"), url("../fonts/Muller/MullerLightItalic/MullerLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Regular"), local("MullerRegular");
  src: url("../fonts/Muller/MullerRegular/MullerRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular/MullerRegular.ttf") format("truetype"), url("../fonts/Muller/MullerRegular/MullerRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Regular Italic"), local("MullerRegularItalic");
  src: url("../fonts/Muller/MullerRegularItalic/MullerRegularItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerRegularItalic/MullerRegularItalic.woff") format("woff"), url("../fonts/Muller/MullerRegularItalic/MullerRegularItalic.ttf") format("truetype"), url("../fonts/Muller/MullerRegularItalic/MullerRegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Medium"), local("MullerMedium");
  src: url("../fonts/Muller/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium/MullerMedium.ttf") format("truetype"), url("../fonts/Muller/MullerMedium/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Medium Italic"), local("MullerMediumItalic");
  src: url("../fonts/Muller/MullerMediumItalic/MullerMediumItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerMediumItalic/MullerMediumItalic.woff") format("woff"), url("../fonts/Muller/MullerMediumItalic/MullerMediumItalic.ttf") format("truetype"), url("../fonts/Muller/MullerMediumItalic/MullerMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Bold Italic"), local("MullerBoldItalic");
  src: url("../fonts/Muller/MullerBoldItalic/MullerBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerBoldItalic/MullerBoldItalic.woff") format("woff"), url("../fonts/Muller/MullerBoldItalic/MullerBoldItalic.ttf") format("truetype"), url("../fonts/Muller/MullerBoldItalic/MullerBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Bold"), local("MullerBold");
  src: url("../fonts/Muller/MullerBold/MullerBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerBold/MullerBold.woff") format("woff"), url("../fonts/Muller/MullerBold/MullerBold.ttf") format("truetype"), url("../fonts/Muller/MullerBold/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller ExtraBold Italic"), local("MullerExtraBoldItalic");
  src: url("../fonts/Muller/MullerExtraBoldItalic/MullerExtraBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerExtraBoldItalic/MullerExtraBoldItalic.woff") format("woff"), url("../fonts/Muller/MullerExtraBoldItalic/MullerExtraBoldItalic.ttf") format("truetype"), url("../fonts/Muller/MullerExtraBoldItalic/MullerExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller ExtraBold"), local("MullerExtraBold");
  src: url("../fonts/Muller/MullerExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerExtraBold/MullerExtraBold.woff") format("woff"), url("../fonts/Muller/MullerExtraBold/MullerExtraBold.ttf") format("truetype"), url("../fonts/Muller/MullerExtraBold/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Black Italic"), local("MullerBlackItalic");
  src: url("../fonts/Muller/MullerBlackItalic/MullerBlackItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerBlackItalic/MullerBlackItalic.woff") format("woff"), url("../fonts/Muller/MullerBlackItalic/MullerBlackItalic.ttf") format("truetype"), url("../fonts/Muller/MullerBlackItalic/MullerBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
    font-family: 'Muller';
  src: local("Muller Black"), local("MullerBlack");
  src: url("../fonts/Muller/MullerBlack/MullerBlack.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Muller/MullerBlack/MullerBlack.woff") format("woff"), url("../fonts/Muller/MullerBlack/MullerBlack.ttf") format("truetype"), url("../fonts/Muller/MullerBlack/MullerBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
