@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.pagination__wrapper {
  justify-content: center;
  padding: 2rem 1rem;
}
.pagination{
  flex-wrap: wrap;
}