
$font-family-sans-serif:  "Muller";
$body-color:  #333;
$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-border-radius: 0;
//pagination
$pagination-active-bg: #25818c;
$pagination-hover-bg: #eee;
$pagination-hover-color: #15494f;
$pagination-active-color: #fff;
$pagination-color:#25818c;
$pagination-disabled-color: #777;