@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";


.navbar-bg{

}


.navbar-theme{
  font-size: 1rem;
  color: #22303e;
  margin-bottom: 2rem;
}

@include media-breakpoint-up(lg) {
  .navbar-theme{
    margin-top: 50px;
    font-size: 1rem;
    color: #22303e;
    margin-bottom: 0;

    .nav-item {
      background: #fbf9ef;
      box-shadow: 0px -3px 10px -5px rgba(0, 0, 0, 0.64);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-left: 3px;
      margin-right: 3px;
      text-align: center;
      display: flex;
      align-items: center;
    }
    .nav-item:first-child {
      margin-left: 0;
    }
    .nav-item:last-child {
      margin-right: 0;
    }
    .nav-item.active {
      box-shadow: 0px -11px 10px -5px rgba(0, 0, 0, 0.64);

      z-index: 999;
    }
  }
}