.navbar-theme {
    font-size: 1rem;
    font-weight: 600;
    color: #22303e;
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    .navbar-theme {
        margin-top: 50px;
        font-size: 1rem;
        color: #22303e;
        margin-bottom: 0;
    }

    .navbar-theme .nav-item {
        background: #fbf9ef;
        -webkit-box-shadow: 0px -3px 10px -5px rgba(0, 0, 0, 0.64);
        box-shadow: 0px -3px 10px -5px rgba(0, 0, 0, 0.64);
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 3px;
        margin-right: 3px;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar-theme .nav-item:first-child {
        margin-left: 0;
    }

    .navbar-theme .nav-item:last-child {
        margin-right: 0;
    }

    .navbar-theme .nav-item.active {
        -webkit-box-shadow: 0px -11px 10px -5px rgba(0, 0, 0, 0.64);
        box-shadow: 0px -11px 10px -5px rgba(0, 0, 0, 0.64);
        z-index: 999;
    }
}
