@font-face {
    font-family: "myiconfont";
    src: url("../fonts/icons/myiconfont.eot");
    src: url("../fonts/icons/myiconfont.eot?#iefix") format("eot"), url("../fonts/icons/myiconfont.woff") format("woff"), url("../fonts/icons/myiconfont.ttf") format("truetype"), url("../fonts/icons/myiconfont.svg#myiconfont") format("svg");
}

.icon__close:before,
.icon__email:before,
.icon__mapmarker:before,
.icon__sidebar-menu:before,
.icon__phone:before,
.icon__search:before,
.icon-badge-sayer:before {
    font-family: "myiconfont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.icon__close:before {
    content: '\E001';
}

.icon__email:before {
    content: '\E002';
}

.icon__mapmarker:before {
    content: '\E003';
}

.icon__sidebar-menu:before {
    content: '\E004';
}

.icon__phone:before {
    content: '\E005';
}

.icon__search:before {
    content: '\E006';
}

.icon-badge-sayer:before {
    content: '\E007';
}

.icon__sidebar-menu {
    font-size: 1rem;
}

.icon__close {
    font-size: 1rem;
}

.icon__email {
    font-size: 2rem;
}

.icon__mapmarker {
    font-size: 2rem;
}

.icon__phone {
    font-size: 2rem;
}

.icon__search {
    font-size: 1rem;
}

.icon-badge-sayer {
    font-size: .9rem;
}
