@import "icons";

.icon {
  text-decoration: none;
  padding-left: .5rem;
  &:hover{
    text-decoration: none;
  }
}
.icon__sidebar-menu{
  @extend %icon-menu;
  font-size: 1rem;
}
.icon__close{
  @extend %icon-close;
  font-size: 1rem;
}
.icon__email{
  @extend %icon-email;
  font-size: 2rem;
}
.icon__mapmarker{
  @extend %icon-map-marker;
  font-size: 2rem;
}
.icon__phone{
  @extend %icon-phone-receiver;
  font-size: 2rem;
}
.icon__search{
  @extend %icon-search;
  font-size: 1rem;
}
.icon-badge-sayer{
  @extend %icon-tag-black-shape;
  font-size: .9rem;
}
.icon__file-view{
  @extend %icon-file_view;
  font-size: 1.5rem;
}
.icon__file-download{
  @extend %icon-file_download;
  font-size: 1.5rem;
}