@import "icons";


.icon__sidebar-menu{
  @extend %icon-menu;
  font-size: 1rem;
}
.icon__close{
  @extend %icon-close;
  font-size: 1rem;
}
.icon__email{
  @extend %icon-email;
  font-size: 2rem;
}
.icon__mapmarker{
  @extend %icon-map-marker;
  font-size: 2rem;
}
.icon__phone{
  @extend %icon-phone-receiver;
  font-size: 2rem;
}