@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.navbar-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 10rem;
  overflow-y: auto;
  margin-top: 10rem;
}

.navbar-icon--link{
 color: #0b2e13;
  &:hover{
    text-decoration: none;
  }
}
