@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

  .sirca-item__title-{
    padding: 1rem;
    background-color: #d22229;
    color: white;
    text-align: center;
    &orange{
      padding: 1rem;
      color: white;
      text-align: center;
      background-color: #faa619;
    }
    &purpure{
      padding: 1rem;
      color: white;
      text-align: center;
      background-color: #8d63aa;
    }
    &brown{
      padding: 1rem;
      color: white;
      text-align: center;
      background-color: #97774f;
    }
    &gray{
      padding: 1rem;
      color: white;
      text-align: center;
      background-color: #ba9b83;
    }
    &lightgray{
      padding: 1rem;
      color: white;
      text-align: center;
      background-color: #89a2b9;
    }
  }
  .sirca-item__description{
    margin-top: 1rem;
  }


.sirca-item__link{
  text-decoration: none;
  color: #333;
  margin-bottom: 1.5rem;
  display: block;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    color: #989292;;
  }
}
.sirca-img__caption{
  font-size: .75rem;
  line-height: 1.3;
  padding: .4rem 0 1rem 0;
}
.sirca-img__attempt{
  font-style: italic;
  font-size: .75rem;
  line-height: 1.3;
  padding: .4rem 1rem 1rem;
}
.sirca-tovar{
  display: flex;
  flex-direction: column;

  .sirca-tovar__item-title-{
    color: #d22229;
    border-bottom: 1px solid #d22229;
    font-weight: 600;
    &orange{
      color: #faa619;
      border-bottom: 1px solid #faa619;
      font-weight: 600;

    }
    &purpure{
      color: #8d63aa;
      border-bottom: 1px solid #8d63aa;
      font-weight: 600;

    }
    &brown{
      color: #97774f;
      border-bottom: 1px solid #97774f;
      font-weight: 600;

    }
    &gray{
      color: #ba9b83;
      border-bottom: 1px solid #ba9b83;
      font-weight: 600;

    }
    &lightgray{
      color: #89a2b9;
      border-bottom: 1px solid #89a2b9;
      font-weight: 600;

    }
  }
  .sirca-tovar__item-description{
    padding: .5rem 0 0.5rem 0;
    font-size: .8rem;
  }

}


@include media-breakpoint-up(md){
  .sirca-item__description{
      margin: 0;


  }

  .sirca-tovar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .sirca-tovar__item{
      flex-basis: 50%;
      flex-grow: 1;
      &:nth-child(odd){
        padding: .5rem .5rem .5rem 0;
      }
      &:nth-child(even){
        padding: .5rem 0 .5rem .5rem;
      }
      &:nth-child(odd):last-child{
        padding: 0;
      }
    }


  }
}
